@use "./reset";
@use "./variables/global";
@use "./themes/normale";
@use "./themes/dark";

.app {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    font: var(--font-m);
}

.buttons-area {
    display: flex;
    align-items: end;
    gap: 15px;
    padding: 20px 30px;
    margin: 50px 0;
    background-color: var(--font-color);
}
