@import url("./reset.scss");
@import url("./variables/global.scss");
@import url("./themes/normale.scss");
@import url("./themes/dark.scss");

.app {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--main-font-color);
    font: var(--font-m);
}

.btn-theme {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--bg-color);
    cursor: pointer;
}
