.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    height: 250px;
    margin-top: 20px;

    &__input {
        width: 100%;
    }

    &__submit-btn {
        margin-top: auto;
        margin-left: auto;
    }

    &__loader {
        margin-bottom: 40px;
    }

    &_is-loading {
        align-items: center;
        justify-content: center;
    }

    &__error {
        color: var(--red-dark);
        font: var(--font-s);
    }
}
