.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    margin-top: 10px;
    background-color: gray;

    & .buttons-area {
        display: flex;
        gap: 10px;
    }
}

.title {
    padding: 7px 15px;
    margin-bottom: 10px;
    background-color: var(--bg-color);
}
