.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 215px;
    padding: 15px 10px;
    background-color: var(--main-color_primary);
    color: var(--main-font-color);
    border-radius: 0 10px 10px 0;
    transition: width 0.5s;

    &-btn {
        flex-shrink: 0;
        background-color: transparent;
        transition: background-color 0.3s;
        color: var(--main-font-color);
        &:hover {
            background-color: var(--button-color_hover-alpha);
        }
    }

    .title {
        padding: 15px 0 19px;
        font-size: var(--font-size-m);
    }
    .links {
        align-self: stretch;
        padding: 10px 0;

        a {
            display: block;
            padding: 10px 0;
            padding-left: 30px;
            border-radius: 6px;
            color: inherit;

            &.active {
                background-color: var(--main-color_secondary);
            }
        }
    }
    .header {
        display: flex;
        gap: 8px;
        width: 100%;
    }
    .footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: auto;
    }

    &_collapsed {
        width: 80px;

        .sidebar-btn {
            transition: none;
        }

        .header {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }

        .links {
            display: none;
        }
    }
}
