.app.dark {
    --bg-color: #252525;
    --bg-color_inverted: #fdfdfd;
    --main-color_primary: #24484e;
    --main-color_secondary: #183a40;
    --accent-color: #f15a3b;

    /* Font color */
    --font-color: #fdfdfd;
    --font-color_inverted: #252525;

    /* UIButton */
    --button-color: #252525;
    --button-color_hover: #363636;
    --button-color_hover-alpha: rgb(54 54 54 / 50%);
    --button-color_active: #191919;
}
