.app.dark {
    --bg-color: #252525;
    --bg-color_inverted: #fdfdfd;
    --main-color_primary: #24484e;
    --main-color_secondary: #183a40;
    --accent-color: #f15a3b;
    --aria-color: #fdfdfd;

    /* Font color */
    --font-color: #fdfdfd;
    --font-color_inverted: #252525;

    /* UIButton */
    --button-color: #365b61;
    --button_outline-color: #40808a;
    --button-color_hover: #365b61;
    --button-color_hover-alpha: rgb(64 128 138 / 50%);
    --button-color_active: #183a40;

    /* UIModal */
    --overlay-background: rgb(235 238 242 / 60%);
}
