.app.light {
    --bg-color: #fdfdfd;
    --bg-color_inverted: #252525;

    --main-color_primary: #28626b;
    --main-color_secondary: #467c85;
    --accent-color: #f15a3b;

    --font-color: #191919;
    --font-color_inverted: #fdfdfd;

    --button-color: #365b61;
    --button-color_hover: #40808a;
    --button-color_hover-alpha: rgba(64, 128, 138, 0.5);
    --button-color_active: #183a40;
}
