.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: var(--navbar-height);
    padding: 0 15px;
    background-color: var(--bg-color);

    &__theme-switcher {
        margin-left: auto;
    }
}
