.login-modal {
    color: inherit;

    &__header {
        display: flex;
        justify-content: center;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 250px;
    }
}
